body {
  margin: 0;
  padding: 0;
  color: #544;
  background-color: #F7F7FF;
}

p {
  clear: both;
  margin: 15px;
  line-height: 140%;
}

pre {
  padding: 1em;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #D8D8D8;
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -pre-wrap;     /* Opera 4-6 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  white-space: pre-wrap;      /* CSS3 */
  word-wrap: break-word;      /* IE 5.5+ */
}
 
pre code {
  font-family: monospace;
  font-size: medium;
  font-weight: normal;
  line-height: 150%;
  text-align: left;
  margin-bottom: 10px;
}

